<h1>Add a Position</h1>

<form action="/users/portfolio" method="POST">
    <label for="asset">Cryptocurrency</label>
    <input type="string" name="asset" id="asset">

    <label for="purchaseDate">Purchase Date:</label>
    <input type="date" name="purchaseDate" id="purchaseDate">
    
    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" id="quantity">
    
    <label for="purchasePrice">Purchase Price:</label>
    <input type="number" name="purchasePrice" id="purchasePrice">

    <button type="submit">Submit</button>
</form>